body {
    font-family: 'Hammersmith One', sans-serif;
    background-color: #0fa09d;
    letter-spacing: 2px;
}

.cont{
    color: #ecf0f1;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 10px solid #8e44ad;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 50px;
    background-color: #40407a;
    font-size: 20px;
    font-weight: bolder;
}

.cont a{
    text-decoration: none;
    color: #e96151;
    border: 2px solid #ecf0f1;
    padding: 10px;
    border-radius: 15px;
    background-color: #f7f1e3;
}

.cont a:hover{
    text-decoration: underline;
}

.cont h2{
    color: #f1c40f;
}

.cont h1{
    margin-bottom: 50px;
}

.cont h2{
    margin-top: 50px;
}

.cont span{
    color: #ecf0f1;
}